.sidenavContainer {
  min-height: inherit;
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
  padding: 0.5rem 1rem;
}

.sideNavList {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.sideNavListItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideNavListItemActive {
  width: 11rem;
  height: 11rem;
  border-radius: 5px;
  background: #555;
  color: #33d69f;
}

.sideNavItemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.3s;
}

.sideNavItemLink:hover {
  color: #33d69f;
}

.sidenavItemIcon {
  width: 3.2rem;
  height: 3.2rem;
}