.sidenavContainer {
  min-height: inherit;
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
  padding: 0.5rem 1rem;
}

.sideNavList {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.sidenavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.3s;
}

.sidenavItem:hover {
  color: #33d69f;
}

.sidenavItemIcon {
  width: 3.2rem;
  height: 3.2rem;
}

.sidenavItemActive .sidenavItemIcon {
}
