.nameContainer {
    display: flex;
    flex-direction: column;
}

.nameContainer h2 {
    font-size: 2.4rem;
}

.playerMenuIcon, .statsIcon{
    justify-self: center;
    cursor: pointer;
    transition: all ease-in 0.15s;
}

.playerMenuIcon:hover, .statsIcon:hover{
    color: rgba(51, 214, 160, 1);
}

.positionsText {
    font-weight: 500;
    color: #a6acbe;
}