.nameContainer {
    display: flex;
    flex-direction: column;
}

.nameContainer h2 {
    font-size: 2.4rem;
}

.playerMenuIcon, .statsIcon{
    justify-self: center;
}

.positionsText {
    font-weight: 500;
    color: #a6acbe;
}