.navContainer {
  height: 8rem;
  display: grid;
  grid-template-columns: 10fr 90fr;
  align-items: center;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  color: white;
}

.logoContainer {
  height: inherit;
  background-color: maroon;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3.2rem;
  font-weight: 400;
}

.navList {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-self: right;
  padding-right: 5rem;
}

.navListItem {
  /* font-weight: 500; */
  list-style: none;
  letter-spacing: 0.1rem;
}

.navListItem:hover {
  color: grey;
  transition: all 0.3s;
}

.signInButton {
  background-color: maroon;
  padding: 0.8rem 1.6rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.signInButton:link {
}

.signInButton:visited {
}

.signInButton:hover {
  cursor: pointer;
  background-color: white;
  color: maroon;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.signInButton:active {
}

.displayPic {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.currentUserInfo {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.headerDivider {
  height: 4.8rem;
  border-left: 2px solid #fff;
}
