.tableContainer {
    overflow: auto;
    height: 60vh;
}

.tableContainer thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(30, 30, 30, 1);
    color: #eee;
}

.table {
    border-collapse: collapse;
    justify-self: center;
}

.table th, .table td {
    width: 20rem;
    height: 5rem;
    text-align: left;
    padding: 2rem;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.headerRow {
}

.newRowBtn {
    display: flex;
    justify-content: center;
}