.table {
    border-collapse: collapse;
    justify-self: center;
    max-height: 100vh;
    overflow-y: scroll;
}

.table th, .table td {
    width: 20rem;
    height: 5rem;
    text-align: left;
    padding: 2rem;
}

.table thead {
    background-color: rgba(30, 30, 30, 1);
    color: #eee;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.headerRow {
}

.newRowBtn {
    display: flex;
    justify-content: center;
}