.footerContainer {
  display: grid;
  color: #fff;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);

  grid-template-columns: 30fr 70fr;
  height: 8rem;
}

.copyright {
  padding: 0 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  align-self: center;
}
