.modal {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fff;
    width: 50rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
}

.modalHeader {
    /* background-color: aqua; */
    height: 6rem;
}

.modalTitle {
    font-size: 2.4rem;
}

.modalBody {
}

.modalFooter {
    display: flex;
    align-items: center;
    justify-content: right;
}

.modalActionButton {
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0);
    color: #fff;
}

.modalActionButton:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: all 0.3s;
}