.formContainer {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.matchSetNameField, .newMatchSetBtn {
    justify-self: center;
    grid-column: 1 / -1;
}